In [30]:
# import the pandas library
import pandas as pd
import numpy as np

In [31]:
# read csv
df = pd.read_csv("futuristic_city_traffic.csv")

In [32]:
# To print no. of samples and attributes
print(df.shape)

(664915, 11)

In [33]:
# getting the columns of the dataset
columns = list(df.columns)
print(columns)

['City', 'Vehicle Type', 'Weather', 'Economic Condition', 'Day Of Week', 'Hour Of Day', 'Speed', 'Is Peak Hour', 'Random Event Occurred', 'Energy Consumption', 'Traffic Density']

In [34]:
# To print first five samples
print(df.head())

           City        Vehicle Type      Weather Economic Condition  \
0  SolarisVille               Drone        Snowy             Stable
1      AquaCity          Flying Car  Solar Flare          Recession
2     Neuroburg  Autonomous Vehicle  Solar Flare          Recession
3     Ecoopolis               Drone        Clear            Booming
4      AquaCity  Autonomous Vehicle  Solar Flare             Stable

  Day Of Week  Hour Of Day     Speed  Is Peak Hour  Random Event Occurred  \
0      Sunday          NaN   29.4268           0.0                    0.0
1   Wednesday          NaN  118.8000           0.0                    0.0
2   Wednesday         16.0  100.3904           0.0                    0.0
3    Thursday          8.0   76.8000           1.0                    0.0
4    Saturday         16.0   45.2176           0.0                    0.0

   Energy Consumption  Traffic Density
0             14.7134           0.5241
1            143.5682           0.3208
2             91.2640           0.0415
3             46.0753           0.1811
4             40.1934           0.4544

In [35]:
#Describing dataset 
print(df.describe())

         Hour Of Day          Speed   Is Peak Hour  Random Event Occurred  \
count  664911.000000  664912.000000  664912.000000          664914.000000
mean       11.511062      59.935981       0.154470               0.050109
std         6.918249      26.626771       0.361399               0.218169
min         0.000000       6.693400       0.000000               0.000000
25%         6.000000      37.522375       0.000000               0.000000
50%        12.000000      58.494350       0.000000               0.000000
75%        18.000000      80.537250       0.000000               0.000000
max        23.000000     163.088600       1.000000               1.000000

       Energy Consumption  Traffic Density
count       664912.000000    664912.000000
mean            49.458875         0.277036
std             25.265618         0.219091
min              4.929600         0.006000
25%             29.232800         0.105900
50%             45.836750         0.218500
75%             65.917200         0.396200
max            189.948900         3.119500

In [36]:
#New dataframe 
new_df = df
#new_df.isnull()
#Checking for null values 
print(new_df.isnull().sum()) 
print("Missing values distribution: ")
print(new_df.isnull().mean())
#print(new_df.shape) 
#new_df.duplicated()

City                     0
Vehicle Type             0
Weather                  1
Economic Condition       1
Day Of Week              1
Hour Of Day              4
Speed                    3
Is Peak Hour             3
Random Event Occurred    1
Energy Consumption       3
Traffic Density          3
dtype: int64
Missing values distribution:
City                     0.000000
Vehicle Type             0.000000
Weather                  0.000002
Economic Condition       0.000002
Day Of Week              0.000002
Hour Of Day              0.000006
Speed                    0.000005
Is Peak Hour             0.000005
Random Event Occurred    0.000002
Energy Consumption       0.000005
Traffic Density          0.000005
dtype: float64

In [38]:
# #Checking for duplicates
print(new_df.duplicated().any()) 
print(new_df.duplicated())
print(new_df.shape)

False
0         False
1         False
2         False
3         False
4         False
          ...
664910    False
664911    False
664912    False
664913    False
664914    False
Length: 664915, dtype: bool
(664915, 11)

In [39]:
print("Column datatypes: ")
print(new_df.dtypes)

Column datatypes:
City                      object
Vehicle Type              object
Weather                   object
Economic Condition        object
Day Of Week               object
Hour Of Day              float64
Speed                    float64
Is Peak Hour             float64
Random Event Occurred    float64
Energy Consumption       float64
Traffic Density          float64
dtype: object

In [40]:
#Finding unique values in "Vehicle Type"
print(new_df["Vehicle Type"].unique())

['Drone' 'Flying Car' 'Autonomous Vehicle' 'Car']

In [41]:
#Replacing string values with integer
new_df["Vehicle Type"].replace({"Drone":"0", "Flying Car":"1", "Autonomous Vehicle":"2", "Car":"3","A":"2"}, inplace = True)
print(new_df.head())
print(new_df.shape)

           City Vehicle Type      Weather Economic Condition Day Of Week  \
0  SolarisVille            0        Snowy             Stable      Sunday
1      AquaCity            1  Solar Flare          Recession   Wednesday
2     Neuroburg            2  Solar Flare          Recession   Wednesday
3     Ecoopolis            0        Clear            Booming    Thursday
4      AquaCity            2  Solar Flare             Stable    Saturday

   Hour Of Day     Speed  Is Peak Hour  Random Event Occurred  \
0          NaN   29.4268           0.0                    0.0
1          NaN  118.8000           0.0                    0.0
2         16.0  100.3904           0.0                    0.0
3          8.0   76.8000           1.0                    0.0
4         16.0   45.2176           0.0                    0.0

   Energy Consumption  Traffic Density
0             14.7134           0.5241
1            143.5682           0.3208
2             91.2640           0.0415
3             46.0753           0.1811
4             40.1934           0.4544
(664915, 11)

C:\Users\student\AppData\Local\Temp\ipykernel_7956\676945800.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Vehicle Type"].replace({"Drone":"0", "Flying Car":"1", "Autonomous Vehicle":"2", "Car":"3","A":"2"}, inplace = True)

In [42]:
#Finding unique values in "Region"
print(new_df["Weather"].unique())

['Snowy' 'Solar Flare' 'Clear' 'Rainy' 'Electromagnetic Storm' nan]

In [43]:
#Replacing string values with integer
new_df["Weather"].replace({"Snowy":"0", "Solar Flare":"1", "Clear":"2", "Rainy":"3","Electromagnetic Storm":"2"}, inplace = True)
print(new_df.head())

           City Vehicle Type Weather Economic Condition Day Of Week  \
0  SolarisVille            0       0             Stable      Sunday
1      AquaCity            1       1          Recession   Wednesday
2     Neuroburg            2       1          Recession   Wednesday
3     Ecoopolis            0       2            Booming    Thursday
4      AquaCity            2       1             Stable    Saturday

   Hour Of Day     Speed  Is Peak Hour  Random Event Occurred  \
0          NaN   29.4268           0.0                    0.0
1          NaN  118.8000           0.0                    0.0
2         16.0  100.3904           0.0                    0.0
3          8.0   76.8000           1.0                    0.0
4         16.0   45.2176           0.0                    0.0

   Energy Consumption  Traffic Density
0             14.7134           0.5241
1            143.5682           0.3208
2             91.2640           0.0415
3             46.0753           0.1811
4             40.1934           0.4544

C:\Users\student\AppData\Local\Temp\ipykernel_7956\488376989.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Weather"].replace({"Snowy":"0", "Solar Flare":"1", "Clear":"2", "Rainy":"3","Electromagnetic Storm":"2"}, inplace = True)

In [44]:
#Replacing string values with integer
new_df["Economic Condition"].replace({"Stable":"0", "Recession":"1", "Clear":"2", "Booming":"3"}, inplace = True)
print(new_df.head())

           City Vehicle Type Weather Economic Condition Day Of Week  \
0  SolarisVille            0       0                  0      Sunday
1      AquaCity            1       1                  1   Wednesday
2     Neuroburg            2       1                  1   Wednesday
3     Ecoopolis            0       2                  3    Thursday
4      AquaCity            2       1                  0    Saturday

   Hour Of Day     Speed  Is Peak Hour  Random Event Occurred  \
0          NaN   29.4268           0.0                    0.0
1          NaN  118.8000           0.0                    0.0
2         16.0  100.3904           0.0                    0.0
3          8.0   76.8000           1.0                    0.0
4         16.0   45.2176           0.0                    0.0

   Energy Consumption  Traffic Density
0             14.7134           0.5241
1            143.5682           0.3208
2             91.2640           0.0415
3             46.0753           0.1811
4             40.1934           0.4544

C:\Users\student\AppData\Local\Temp\ipykernel_7956\2204731181.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Economic Condition"].replace({"Stable":"0", "Recession":"1", "Clear":"2", "Booming":"3"}, inplace = True)

In [45]:
#Finding unique values in "Region"
print(new_df["Day Of Week"].unique())

['Sunday' 'Wednesday' 'Thursday' 'Saturday' 'Monday' 'Friday' 'Tuesday'
 nan]

In [46]:
#Replacing string values with integer
new_df["Day Of Week"].replace({"Sunday":"0", "Monday":"1", "Tuesday":"2", "Wednesday":"3", "Thursday":"4", "Friday":"5", "Saturday":"6"}, inplace = True)
print(new_df.head())

           City Vehicle Type Weather Economic Condition Day Of Week  \
0  SolarisVille            0       0                  0           0
1      AquaCity            1       1                  1           3
2     Neuroburg            2       1                  1           3
3     Ecoopolis            0       2                  3           4
4      AquaCity            2       1                  0           6

   Hour Of Day     Speed  Is Peak Hour  Random Event Occurred  \
0          NaN   29.4268           0.0                    0.0
1          NaN  118.8000           0.0                    0.0
2         16.0  100.3904           0.0                    0.0
3          8.0   76.8000           1.0                    0.0
4         16.0   45.2176           0.0                    0.0

   Energy Consumption  Traffic Density
0             14.7134           0.5241
1            143.5682           0.3208
2             91.2640           0.0415
3             46.0753           0.1811
4             40.1934           0.4544

C:\Users\student\AppData\Local\Temp\ipykernel_7956\1686090749.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Day Of Week"].replace({"Sunday":"0", "Monday":"1", "Tuesday":"2", "Wednesday":"3", "Thursday":"4", "Friday":"5", "Saturday":"6"}, inplace = True)

In [47]:
#Describing data after preprocessing 
print(new_df.shape) 
print(new_df.head())

(664915, 11)
           City Vehicle Type Weather Economic Condition Day Of Week  \
0  SolarisVille            0       0                  0           0
1      AquaCity            1       1                  1           3
2     Neuroburg            2       1                  1           3
3     Ecoopolis            0       2                  3           4
4      AquaCity            2       1                  0           6

   Hour Of Day     Speed  Is Peak Hour  Random Event Occurred  \
0          NaN   29.4268           0.0                    0.0
1          NaN  118.8000           0.0                    0.0
2         16.0  100.3904           0.0                    0.0
3          8.0   76.8000           1.0                    0.0
4         16.0   45.2176           0.0                    0.0

   Energy Consumption  Traffic Density
0             14.7134           0.5241
1            143.5682           0.3208
2             91.2640           0.0415
3             46.0753           0.1811
4             40.1934           0.4544

In [49]:
#eliminate null values
new_df.dropna(inplace=True)
#eliminate duplicate values
new_df.drop_duplicates(inplace=True)
print(new_df)

               City Vehicle Type Weather Economic Condition Day Of Week  \
2         Neuroburg            2       1                  1           3
3         Ecoopolis            0       2                  3           4
4          AquaCity            2       1                  0           6
5         TechHaven            2       0                  1           4
6         Ecoopolis            2       3                  1           1
...             ...          ...     ...                ...         ...
664909    TechHaven            0       2                  1           6
664910     AquaCity            2       1                  3           0
664911  MetropolisX            2       1                  0           1
664912    TechHaven            0       3                  0           6
664913    Neuroburg            2       1                  1           0

        Hour Of Day     Speed  Is Peak Hour  Random Event Occurred  \
2              16.0  100.3904           0.0                    0.0
3               8.0   76.8000           1.0                    0.0
4              16.0   45.2176           0.0                    0.0
5              20.0   30.5179           0.0                    0.0
6              21.0   43.9222           0.0                    0.0
...             ...       ...           ...                    ...
664909          2.0   34.2890           0.0                    0.0
664910         11.0   93.5993           0.0                    0.0
664911          1.0  140.2007           0.0                    0.0
664912         15.0   29.2714           0.0                    0.0
664913          1.0  114.8039           0.0                    0.0

        Energy Consumption  Traffic Density
2                  91.2640           0.0415
3                  46.0753           0.1811
4                  40.1934           0.4544
5                  37.5562           0.0843
6                  39.0420           0.0293
...                    ...              ...
664909             19.4824           0.0978
664910             74.8794           0.3706
664911            112.1605           0.7564
664912             17.5068           0.0918
664913            104.3672           0.0507

[664903 rows x 11 columns]

In [50]:
print(new_df.isnull().sum())
print("Missing values distribution")
print(new_df.isnull().mean())

City                     0
Vehicle Type             0
Weather                  0
Economic Condition       0
Day Of Week              0
Hour Of Day              0
Speed                    0
Is Peak Hour             0
Random Event Occurred    0
Energy Consumption       0
Traffic Density          0
dtype: int64
Missing values distribution
City                     0.0
Vehicle Type             0.0
Weather                  0.0
Economic Condition       0.0
Day Of Week              0.0
Hour Of Day              0.0
Speed                    0.0
Is Peak Hour             0.0
Random Event Occurred    0.0
Energy Consumption       0.0
Traffic Density          0.0
dtype: float64

In [51]:
new_df.to_csv("futuristic_city_traffic.csv",index=False)